@import './variables.scss';


// Сброс стандартных настроек списка <ul>
@mixin resetUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Поворот стрелки при раскрытии фильтра
@mixin rotateArrowOpen {
    @keyframes rotateArrowOpen {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

// Поворот стрелки при сворачивании фильтра
@mixin rotateArrowClose {
    @keyframes rotateArrowClose {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(180deg);
        }
    }
}

// Открытие списка параметров фильтра
@mixin paramsOpen {
    @keyframes paramsOpen {
        from {
            max-height: 0;
        }
        to {
            max-height: max-content;
        }
    }
}

// Миксины для брейкпоинтов



// 1024 - 1920 px
@mixin mediaPc{
    @media (max-width: #{$breakpoint-pc}) {
      @content;
    }
}

// 768 - 1024 px
@mixin mediaNetbook {
    @media (max-width: #{$breakpoint-netbook})  {
      @content;
    }
}

// 420 - 768 px
@mixin mediaTablet{
    @media (max-width: #{$breakpoint-tablet}) {
      @content;
    }
}

// До 420px
@mixin mediaMobile {
    @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
}
