@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300&display=swap');

$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Forum', cursive;

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$font-gold-active: #7E6C51;
$text-color-light: #fff;
$text-color-dark: #000;


// Брейк поинты
$breakpoint-pc: 1920px;
$breakpoint-netbook: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 420px;
