<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Test task Ester</title>
    <link rel="stylesheet" href="./styles/main.scss" />
  </head>

  <body>
    <h1 class="heading">virtual tour</h1>
    <ul class="places__list">
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/1.jpg")%>/>
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/2.jpg")%> />
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/3.jpg")%> />
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/4.jpg")%> />
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/5.jpg")%> />
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
      <li class="places__item">
        <img class="place__image" alt="" src=<%=require("./img/6.jpg")%> />
        <h2 class="place__heading"></h2>
        <ul class="place__description">
          <li class="place__tour-kind"></li>
          <li class="place__via-tech"></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
