<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Test task Ester</title>
    <link rel="stylesheet" href="./styles/main.scss" />
  </head>

  <body>
    <main>
      <h1 class="heading">virtual tour</h1>
      <ul class="places__list">
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/royalpalace.jpg")%>/>
          <h2 class="place__heading">Royal Palace</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/denonwing.jpg")%> />
          <h2 class="place__heading">Denon Wing</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/colonnadeperrault.jpg")%> />
          <h2 class="place__heading">Colonnade Perrault</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/greekhall.jpg")%> />
          <h2 class="place__heading">Greek hall</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/monalisa.jpg")%> />
          <h2 class="place__heading">Mona Lisa</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
        <li class="places__item">
          <img class="place__image" alt=""
          src=<%=require("./img/nightpalace.jpg")%> />
          <h2 class="place__heading">Night Palace</h2>
          <ul class="place__description">
            <li class="description__item description__item_tour-kind">
              360° Virtual Tour
            </li>
            <li class="description__item description__item_via-tech">
              Google Street Panorama View
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
</html>
